body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

nav {
    margin-top: 25px; /* Ajusta el valor según sea necesario */
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #fff; /* Color del texto del título */
}

/* Estilos del contenido principal */
main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para los títulos */
h1, h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

/* Estilos para los enlaces */
a {
    text-decoration: none;
    color: #fff; /* Color del texto del enlace */
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

/* Estilos para el menú */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.menu li {
    display: inline;
    margin: 0 10px;
}

.menu li a {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #333; /* Fondo del enlace del menú */
    transition: background-color 0.3s;
}

.menu li a:hover {
    background-color: #F3DFA2;
}
